.cards {
    grid-area: bd;
    background-color: rgba(255, 217, 142, 0.804);
    border-radius: 10px;
    border: solid 5px rgb(110, 68, 68);
    text-align: center;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
  }

  /* .card {
     border: solid 2px rgb(110, 68, 68);
     border-radius: 10px;
     width: 350px;
     height: 350px;
     margin: auto;
     background-color: rgb(44, 112, 213);
  } */

  .cards p {
    padding-bottom: 100px;
    padding-top: 50px;
    font-size: 30px;
  }

  .cards button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: blue;
  }

.flipContainer {
	perspective: 1000;
}
	/* переверните сторону при проведении мышью */
	/* .flipContainer:hover .flipper, .flipContainer.hover .flipper {
		transform: rotateY(180deg);
	} */

   .flipContainer.flip .flipper {
    transform: rotateY(180deg);
  }

.flipContainer, .front, .back {
	width: 320px;
	height: 480px;
}
/* здесь находится скорость перевертывания */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  top: 80px;
	left: 570px;
}

.flipper div {
  backface-visibility: hidden;
}
/* скройте обратную сторону во время переворота */
.front, .back {
	
	position: fixed;
	top: 0;
	left: 0;
}
/* лицевая сторона размещена над обратной */
.front {
	z-index: 2;
  transform: rotateY(0deg);
  border: solid 2px rgb(110, 68, 68);
     border-radius: 10px;
     width: 350px;
     height: 350px;
     margin: auto;
     background-color: rgb(44, 112, 213);
}
/* обратная, изначально скрытая сторона */
.back {
  z-index: 1;
	transform: rotateY(180deg);
  border: solid 2px rgb(110, 68, 68);
     border-radius: 10px;
     width: 350px;
     height: 350px;
     margin: auto;
     background-color: rgb(51, 215, 117);
}

