.table {
    grid-area: tb;
    background-color: rgba(255, 217, 142, 0.804);
    border: solid 5px rgb(110, 68, 68);
    text-align: center;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.table table {
    margin: auto;
}

.table tbody td {
    border: solid 1px rgb(110, 68, 68);
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.table thead td {
    border: solid 4px rgb(110, 68, 68);
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.borderCell {
    background-color: white;
}

.delete {
    color: red;
    text-align: end;
    cursor: pointer;
}

.know {
    color: green;
    text-align: start;
}

.dKnow {
    color: red;
    text-align: start;
}

.word {
    cursor: pointer;
    text-align: start;
}

.highlightedCell {
    cursor: pointer;
    text-align: start;
    background-color: white;  
}