.header {
  grid-area: hd;
  background-color: rgba(255, 217, 142, 0.804);
  border-radius: 10px;
  border: solid 5px rgb(110, 68, 68);
  text-align: center;
  font-family: cursive;

}

.header button.togle {
  position: absolute;
  top: 30px;
  left: 1200px;
  width: 180px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

.buttons {
  position: absolute;
  top: 50px;
  left: 120px;
}

.buttons button{
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
}