.header {
  grid-area: hd;
  background-color: rgba(255, 217, 142, 0.804);
  border: solid 5px rgb(110, 68, 68);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header button.togle {
  position: absolute;
  top: 50px;
  left: 1300px;
  width: 180px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
 color: blue;
}

.buttons {
  position: absolute;
  top: 80px;
  left: 550px;
}

.buttons span{
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}